<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>siwProject</title>
</head>
<body>
<h1>All Tasks</h1>
<div>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Tag Name</th>
			<th>Tag Color</th>
			<th>Description</th>
			<th>Delete Tag</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each ="tag : ${tagsList}">
			<td th:text="${tag.name}"></td>
			<td th:text="${tag.color}"></td>
			<td th:text="${tag.description}"></td>
			
			<td>
				<form method="POST" th:action="@{/project/deleteTag/{name}/delete(name=${tag.name})}">
				<button type="submit" name="submit" value="value">DELETE</button>
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>