<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>siwProject</title>
</head>
<body>
<h1 th:text="${task.name}"></h1>
<h4 th:text="${task.description}" style="color:gray"></h4>
<div th:if="${task.completed}">completed is true.</div>
<div th:unless="${task.completed}">completed is false.</div>

<h3>Comments</h3>
<ul>
      <li th:each="comment : ${task.comments}">
        <div th:text="${comment.text}"></div>
</ul>


<h4><a href="/projects">Back To My Projects</a></h4>


<div><a th:href="'/addComment/' + ${task.id}">Add Comment</a></div>

</body>
</html>